@import 'variables', 'mixins';

.page {
	display: flex;
	flex-wrap: wrap;
	padding: $spacing-7;
	gap: $spacing-5;
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;

	.box {
		flex-direction: column;
		flex: 0 0 auto;
		@include flex(flex-start, flex-start);
	}
}
